<!-- <div class="col-4 d-flex align-items-stretch"> -->
      <div class="card">
        <img src="https://assets.croma.com/medias/sys_master/images/images/h63/ha7/8812016009246/206794_pjpeg.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Skybags Komet</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-warning">ADD TO CART</a>
        </div>
      </div>
    <!-- </div> -->

   