<!-- <div class="col-4 d-flex align-items-stretch"> -->
      <div class="card">
        <img [src]="product.imageUrl"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title |uppercase}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a  (click)="addToCart()"  href="#" class="btn btn-warning" *ngIf ="product.isAvailable">ADD TO CART</a>
          <a  (click)="buy()"  href="#" class="btn btn-dark">Details</a>
        </div>
      </div>
    <!-- </div> -->

   